body {
  background: #ebebeb;
  -webkit-font-smoothing: antialiased;
  
}
.App{  
  position: fixed;    
  width: 100%; 
  min-width: 100vw;   
  z-index: -1;   
   height: 100%;    
   right: -10%;
  }
.App-header {  
  position: fixed;  
  min-width: 100vw;   
  width: 100%;    
  z-index: -1;    
  height: 100%;    
  left: 6%;}
.App:before {    
  content: '';   
  position: absolute;    
  top: 0;    
  right: 0;   
  width: 80%;    
  height: 70%;      
  background-color: #03A9F4;    
  border-bottom: 30px solid rgb(3, 25, 44);     
  -webkit-transform-origin: 100% 100%;    
  -ms-transform-origin: 100% 100%;    
  transform-origin: 100% 100%;    
  -webkit-transform: skewX(30deg);    
  -ms-transform: skewX(30deg);    
  transform: skewY(30deg);    
  -webkit-box-sizing: border-box;    
  -moz-box-sizing: border-box;    
  box-shadow: 0px 0px 20px #89898a;
  }
  .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
.App-header:before {    
  content: '';    
  position: absolute;    
  bottom: 0;    
  left: 0;    
  width: 50%;    
  height: 100%;     
  background-color: #03A9F4;    
  border-right: 50px solid rgb(3, 25, 44);    
  -webkit-transform-origin: 100% 100%;    
  -ms-transform-origin: 100% 100%;    
  transform-origin: 100% 100%;    
  -webkit-transform: skewX(60deg);    
  -ms-transform: skewX(60deg);        
  transform: skewX(60deg);    
  -webkit-box-sizing: border-box;    
  -moz-box-sizing: border-box;    
  box-shadow: 0px 0px 20px #89898a;
}

@media screen and (max-width: 860px){
	div.background{ margin-top: -10%; }
}
@media screen and (max-width: 560px){
	div.background{ margin-top: -50%; }
}
@media screen and (max-width: 460px){
	.loginForm{ width: 100%; max-width: 420px; }
	div.background{ margin-top: -60%; }
	div.background2{ margin-top: -10%; }
	div.background2:before{ width: 80%; }
	form, .powered { opacity: 0.8; }
}
@media screen and (max-width: 380px){
	div.background{ margin-top: -80%; }
	div.background2{ margin-top: -10%; }
	div.background2:before{ width: 100%; }
}


